<mat-card>
    <div class="form-container">
        <form>
            <mat-card-title>Novo Produto</mat-card-title>
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Digite o produto" name="name" [(ngModel)]="product.name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Preço (R$)</mat-label>
                <input matInput placeholder="Digite o preço" name="price" [(ngModel)]="product.price">
            </mat-form-field>
        </form>

        <button mat-raised-button
                color="primary"
                (click)="createProduct()">
            Salvar
        </button>

        <button mat-raised-button
                (click)="cancel()">
            Cancelar
        </button>
    </div>
</mat-card>

