
<mat-card>
    <div class = form-container>
        <form>
            <mat-card-title>Atualizar Produto</mat-card-title>
            <p>Id do Produto: {{product.id}}</p>
            <mat-form-field>
                <input matInput placeholder="Nome do Produto" [(ngModel)]="product.name" name="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Preço em R$" [(ngModel)]="product.price" name="price">
            </mat-form-field>
        </form>
    
        <button mat-raised-button color="primary" (click)="updateProduct()">Salvar</button>
        <button mat-raised-button (click)="cancel()">Cancelar</button>
    </div>
    
</mat-card>