mat-card {
    margin-top: 1rem;
    padding: 1rem;
    min-width: 532px;
}

mat-card-title{
    margin-bottom: 1rem;
}

.edit {
    margin-right: 1rem;
}

.edit > i{
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

.search-bar{
    margin-top: 1rem;
}